body {
  background-color: #74A856;
}

.container:before {
 content: ' ';
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 opacity: 0.25;
 background-image: url('green-wallpaper.jpeg');
 background-repeat: no-repeat;
 background-position: 50% 0;
 background-size: cover;
}