body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

h1, h2, p {
    color: aliceblue;
}

a {
    color: cornflowerblue;
}

a:hover {
    color:lightskyblue;
}

.container {
    padding: 1em, 1.5em, 1em, 1em;
    background-color: #3b3b3a;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

#adjectives {
    color: lightgray;
}

#adverbs {
    color: violet;
}

#nouns {
    color: cornflowerblue;
}

#verbs {
    color:crimson;
}

