.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

.forward-button {
    background-color: gray;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
    z-index: 1;
  
}
  
.reverse-button {
    background-color: gray;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
    z-index: 1;
}

.reverse-container p, h1  {
    color:black;
    position: relative;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;

}

.reverse-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url('blue-wallpaper.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#body-bs {
    background-color: #74A856;
}

#body-sh {
    background-color: #9FD0E1;
}

#body-yp {
    background-color: #FEEBC3;
}

.story {
    padding: 35px;
}

.adjective-color {
    color:darkcyan;
}

#adjectives {
    color: turquoise;
}

#adverbs {
    color: cadetblue;
}

#nouns {
    color: deepskyblue;
}

#verbs {
    color:crimson;
}

