body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

h1, h2, p {
    color: aliceblue;
}

a {
    color: cornflowerblue;
}

a:hover {
    color:lightskyblue;
}

li {
    padding: 1em, 1.5em, 1em, 1.5em;
    margin: 1em, 1.5em, 1em, 1.5em;
}

.container {
    padding: 1em, 1.5em, 1em, 1em;
    background-color: #3b3b3a;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    color:antiquewhite;
}

.forward-button {
    background-color: gray;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
    z-index: 1;
  
}
  
.reverse-button {
    background-color: gray;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
    z-index: 1;
}

.reverse-container p, h1  {
    color:black;
}

.reverse-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url('blue-wallpaper.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#body-bs {
    background-color: #74A856;
}

#body-sh {
    background-color: #9FD0E1;
}

#body-yp {
    background-color: #FEEBC3;
}

.story {
    padding: 35px;
}

.adjective-color {
    color:darkcyan;
}

#adjectives {
    color: lightgray;
}

#adverbs {
    color: violet;
}

#nouns {
    color: cornflowerblue;
}

#verbs {
    color:crimson;
}

