body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

h1, h2, p {
    color: aliceblue
}

.container {
    padding: 1em, 1.5em, 1em, 1em;
    background-color: #f9f6f2;
    text-align: justify;
}

#adjectives {
    color: darkslategrey;
}

#adverbs {
    color: violet;
}

#nouns {
    color: blue;
}

#verbs {
    color: red;
}

