/* body {
    background-color: #FEEBC3;
   } */

.reverse-container:before {
 content: ' ';
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 opacity: 0.25;
 background-image: url('yellow-wallpaper.jpeg');
 background-repeat: no-repeat;
 background-position: 50% 0;
 background-size: cover;
}